body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #539195;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  position: absolute;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .logo {
    height: 30px;
    margin-left: 25px;
  }

  .menu-icon {
    font-size: calc(30px + 2vmin);
    margin-right: 25px;
  }
}

.companie-componente {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
  justify-content: center;
  align-items: center;

  .companie-img {
    width: 75px;
  }

}

.footer-componente {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}